<!DOCTYPE html>
<html lang="es">
<head>
	<link type="text/css" rel="stylesheet" href="/static/css/main.css">
	<meta charset="UTF-8">
	<meta name="author" content="Indavelopers">
	<meta name="google-site-verification" content="vfaWDZQYrNK7G3GJBGlc_4o0xS0bJNEEw3h_8M5Xrks">

	{% block head %}
	{% endblock %}

	<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<body>
	<h2>Página en construcción</h2>

	{% block content %}
	{% endblock %}

	<ul>
		<li><a href="https://plus.google.com/communities/108207498944847513939">G+: +GDG Almería</a></li>
		<li><a href="https://twitter.com/GDGAlmeria">Twitter: @GDGAlmería</a></li>
	</ul>

	<p>Contacto organizador: <a href="mailto:info@indavelopers.com">info@indavelopers.com</a></p>
</body>
</html>