{% extends "base.html" %}

{% block head %}
<meta name="description" content="GDG Almería">
<meta name="keywords" content="gdg almería">

<title>I Women Techmakers Almería | GDG Almería</title>
{% endblock %}


{% block content %}
<h2>I Women Techmakers Almería: "La figura Community Manager como responsable de la Imagen Corporativa en el ecosistema 2.0".</h2>

<p></p>

<h3>Ponencias:</h3>
<ul>
	<li>"La figura Community Manager como responsable de la Imagen Corporativa en el ecosistema 2.0", por María José Garbín, experta en imagen corporativa y redes sociales, de Imagen Global.</li>
	<li>"Colocar tu web en la principal calle de Google, ¿utopía o realidad?", por Ana Galera Simón, experta en SEO/SEM y márketing online, de Ágatar Comunicación.</li>
</ul>
{% endblock %}