{% extends "base.html" %}

{% block head %}
<meta name="description" content="GDG Almería">
<meta name="keywords" content="gdg almería">

<title>Inicio | GDG Almería</title>
{% endblock %}


{% block content %}
<h1>Inauguración GDG Almería</h1>

<p>En los próximos días estrenaremos nuestra web. Por un par de días, disfrutaremos este look <i>noventero</i> de HTML plano :D.</p>

<p>Hasta entonces, nuestros amigos de Hacklab nos ofrecen alojar la página de <a href="http://hacklabalmeria.net/actividades/2016/02/26/inauguracion-gdg-almeria.html">nuestro evento de inauguración</a>.</p>
{% endblock %}